body {
	font-family: "OpenSans";
}

.alert {

  height: 50px;
  line-height:50px;
  padding:0px 15px;
}

body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

.navbar-brand > img:nth-child(1){
  width: auto;
  height: 50px;
}

.footer{
	background-color: #e7e7e7;
	padding:10px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
}

@media(min-width:768px) {
	body {
		padding-top: 100px;
		/* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}

	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}

@font-face {
  font-family: 'OpenSans'; /*a name to be used later*/
  src: url('../fonts/Armata-Regular.otf'); /*URL to font*/
}


/*for login page */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form-login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form-login button:hover, .form-login button:active, .form-login button:focus {
  background: #43A047;
}
.form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-login .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form-login .register-form {
  display: none;
}
.container-login {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container-login:before, .container-login:after {
  content: "";
  display: block;
  clear: both;
}
.container-login .info {
  margin: 50px auto;
  text-align: center;
}
.container-login .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container-login .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container-login .info span a {
  color: #000000;
  text-decoration: none;
}
.container-login .info span .fa {
  color: #EF3B3A;
}

div-body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
